:root {
    --background: rgb(253, 251, 239);
    --secondary: #f7d5c2;
    --button: #004766;
    --opacity: rgba(255, 255, 255, 0.5);
    ;
}

* {
    color: var(--button);

}


.col-bg {
    background-color: var(--background);
}

.col-bg-text {
    color: var(--background);
}

.col-p {
    background-color: var(--primary);
}

.col-p-text {
    color: var(--primary);
}

.col-s {
    background-color: var(--secondary);
}

.col-s-text {
    color: var(--secondary);
}

.col-b {
    background-color: var(--button);
}

.col-b-text {
    color: var(--button) !important;
}

.col-o {
    background-color: var(--opacity) !important;
}



.btn-search {
    background-color: var(--button) !important;
    color: var(--background) !important;
    border: 1px solid var(--button);
    border-radius: 5px;
    font-weight: 600;
}

.cst-button-card {
    width: 50%;
    height: auto;
    background-color: var(--button);
    color: var(--background);
    padding: 7px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.cst-button-card:hover {
    background-color: var(--opacity);
    border: 1px solid var(--button);
    transition: 0.2s;
    color: var(--button);
}

.cst-button {
    height: auto;
    background-color: var(--button);
    color: var(--background);
    padding: 7px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}


.cst-button:hover {
    background-color: var(--background);
    border: 1px solid var(--button);
    transition: 0.2s;
    color: var(--button);
}


.width-custom{
    width: 25%;
}



.cst-button-card2 {
    width: 50%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--button);
    padding: 7px;
    font-size: 0.8rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid var(--button);
}

.cst-button-card2:hover {
    background-color: var(--button);
    transition: 0.2s;
    color: white;
}


.cst-section-button {
    width: 20%;
    height: 7vh;
    background-color: var(--background);
    color: var(--button);
    padding: 1px;
    font-size: 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s linear;
}

.cst-section-button:hover {
    transform: scale(1.1);
}


.no-radius {
    border-radius: 0px !important;
}

.cst-form {

    width: 100%;
    background-color: var(--secondary);
}

.shadow-top {
    box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2) !important;
    margin-top: 18vh;
}

.dropdown-menu {
    background-color: var(--background) !important;
}

.dropdown-menu .dropdown-item {
    color: var(--button) !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--button) !important;
    color: var(--background) !important;
}

.navbar .nav-link {
    color: var(--button) !important;
}

.cst-dim {
    height: 55px;
    width: 55px;
}

/* classe per rimuovere il colore celeste quando si dgita nella barra di ricerca */
input:focus {
    border-color: initial !important;
    box-shadow: none !important;
}

/* .header-custom {
    background-image: url('../img/header_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.7); 
    background-blend-mode: darken; 

} */

.nav-scrolled {
    background-color: rgba(0, 0, 0, 0.8) !important;
    transition: background-color 1s ease-in-out;
}


.header-custom {
    position: relative;
    background-image: url('../img/header_img.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}

/* / Overlay per migliorare la leggibilità del testo / */
.header-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* / Testo sopra l'overlay / */
.title-header {
    font-size: 10vh;
    position: relative;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.subtitle-header {
    font-size: 6vh;
    position: relative;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.title-section {
    font-size: 10vh;
    font-weight: 400;
}

.subtitle-section {
    font-size: 4vh;
    font-weight: 100;
}

.size-section {
    height: 70vh;
}


.modal-title-text{
    font-weight: 600;
    font-size: 2rem;
}

.modal-text{
    font-weight: 500;
    font-size: 1.5rem;
}

.modal-footer{
    background-color: var(--background) !important;
}


/* / Responsive per mobile / */
@media (max-width: 768px) {
    .header-custom {
        height: auto;
        min-height: 100vh;
        padding: 20% 5%;
        background-position: center top;
    }

    .title-header {
        font-size: 2rem;
    }

    .subtitle-header {
        font-size: 1.2rem;
    }



    .title-section {
        font-size: 6vh;
    }

    .subtitle-section {
        font-size: calc(2vh + 2px);
    }

    .cst-section-button {
        width: 70%;
        height: 5vh;
        background-color: var(--background);
        color: var(--button);
        padding: 1px;
        font-size: 1.3rem;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;

    }

}

/* @media (max-width: 768px) { 
    .header-custom {
        background-size: contain; 
        background-position: center top; 
        background-repeat: no-repeat;
    }
    .title-header {
        font-size: 2rem; 
    }
    .subtitle-header {
        font-size: 1.2rem; 
    }
} */