:root {
    --background: rgb(253, 251, 239);
    --secondary: #f7d5c2;
    --button: #004766;
    --opacity: rgba(255, 255, 255, 0.5);
    ;
}

* {
    color: var(--button);

}




.col-bg {
    background-color: var(--background);
}

.col-bg-text {
    color: var(--background);
}

.col-p {
    background-color: var(--primary);
}

.col-p-text {
    color: var(--primary);
}

.col-s {
    background-color: var(--secondary);
}

.col-s-text {
    color: var(--secondary);
}

.col-b {
    background-color: var(--button);
}

.col-b-text {
    color: var(--button)!important;
}

.col-o {
    background-color: var(--opacity)!important;
}

.btn-search {
    background-color: var(--button)!important;
    color: var(--background)!important;
    border: 1px solid var(--button);
    border-radius: 5px;
    font-weight: 600;
}

.cst-button-card {
    width: 50%;
    height: auto;
    background-color: var(--button);
    color: var(--background);
    padding: 7px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.cst-button-card:hover {
    background-color: var(--opacity);
    border: 1px solid var(--button);
    transition: 0.2s;
    color: var(--button);
}

.cst-button {
    width: 50%;
    height: auto;
    background-color: var(--button);
    color: var(--background);
    padding: 7px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}


.cst-button:hover {
    background-color: var(--background);
    border: 1px solid var(--button);
    transition: 0.2s;
    color: var(--button);
}

.cst-button-card2 {
    width: 50%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--button);
    padding: 7px;
    font-size: 0.8rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid var(--button);
}

.cst-button-card2:hover {
    background-color: var(--button);
    transition: 0.2s;
    color: white;
}

.no-radius {
    border-radius: 0px !important;
}

.cst-form {

    width: 100%;
    background-color: var(--secondary);
}

.shadow-top {
    box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2) !important;
    margin-top: 18vh;
}

.dropdown-menu {
    background-color: var(--background) !important;
}

.dropdown-menu .dropdown-item {
    color: var(--button) !important;
}

.dropdown-menu .dropdown-item:hover {
    background-color: var(--button)!important; 
    color: var(--background) !important;
}

.navbar .nav-link {
    color: var(--button) !important;
}   

.cst-dim{
    height: 55px;
    width: 55px;
}
/* classe per rimuovere il colore celeste quando si dgita nella barra di ricerca */
input:focus {
    border-color: initial !important; 
    box-shadow: none !important;      
}
.header-custom {
    background-image: url('../img/header_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
